{% extends 'base.html' %}
{% block header %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1>New Post</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if error_message %}
            <p>{{error_message}}</p>
            {% endif %}
            <form action="{% url 'createPost' %}" method="post" name="createForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="heading">Post Heading</label>
                    <input type="text" class="form-control" id="heading" name="heading" placeholder="Enter heading">
                </div>
                <div class="form-group">
                    <label for="subheading">Subheading</label>
                    <input type="text" class="form-control" id="subheading" name="subheading"
                        placeholder="Enter subheading">
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea type="text" class="form-control article" id="content" name="content"
                        rows="12"> </textarea>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}